<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registrar Auto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add.css') }}?v=2">
</head>
<body>
    <div class="cont">
        <h1>Registrar nuevo vehículo</h1>

        <form method="POST">
            <label>Marca:</label>
            <input type="text" name="marca" required><br>

            <label>Color:</label>
            <input type="text" name="color" required><br>

            <label>Patente:</label>
            <input type="text" name="patente" required><br>

            <label>DNI del dueño:</label>
            <input type="text" name="dni" required><br>

            <label>Teléfono:</label>
            <input type="text" name="telefono" required><br>

            <button class="btn1" type="submit">Guardar</button>
        </form>

        <a href="{{ url_for('menu') }}"><button class="btn1">Volver al menú</button></a>
    </div>
</body>
</html>
